{% extends "mainapp/base.html" %}

{% block My_Account %}
    {% include "include/My_Account.html" %}
{% endblock %}

{% block menu %}
		{% include "include/inc_menu.html" %}
{% endblock %}
{% block title %} {{title}} {% endblock %}
{% block main %}

		<div class="main">
			{% include "include/new_arrivals.html" %}

			<div class="cart_title">
				<div class="cart_title_product_detal"> product details</div>
				<div class="cart_title_next">uniteprice</div>
				<div class="cart_title_next">quantity</div>
				<div class="cart_title_next">shipping</div>
				<div class="cart_title_next">subtotal</div>
				<div class="cart_title_next">action</div>
				<div class="cart_title_line"></div>
			</div> <!-- cart_title -->
			{% for value in data %}
			<div class="shoppint_product">
				<div class="shoppint_product_detals">
					<div class="shoppint_product_image"  style="background-image: url(/media/{{value.product.image}}); background-size: cover;"><a href="#" class="shoppint_product_image_2"></a></div>
					<div class="shoppint_product_title">{{ value.product.name}}</div>
					<div class="shoppint_product_parametrs"><p>Color: <span>{{value.product.Color.name_color}}</span><br>Size: <span>{{value.product.Size.name_size}}</span></p></div>
					<div class="shoppint_product_price">$ {{value.product.price}}</div>
					<div class="shoppint_product_quantity_2">
						<input type="text" class="shoppint_product_quantity" placeholder="{{value.quantity}}">
					</div>
					<div class="shoppint_product_shiping">free</div>
					<div class="shoppint_product_subtotal">$ {{ value.product.price }} * {{ value.quantity}}</div>
					<div class="shoppint_product_action"><a href="#">&otimes;</a></div>
				</div> <!-- shoppint_product_detals -->
			</div> <!-- shoppint_product -->
			{% endfor %}


			<div class="shopping_cart_clear"> <a href="#">clear shopping cart</a></div>
			<div class="shopping_cart_continue"> <a href="#">continue shopping</a></div>

			<div class="shipping_adress"><h4>shipping adress</h4>
				<div class="shipping_adress_2"><input type="text" class="shipping_adress_3" placeholder="City"></div>
				<div class="shipping_adress_2"><input type="text" class="shipping_adress_3" placeholder="Adress"></div>
				<div class="shipping_adress_2"><input type="text" class="shipping_adress_3" placeholder="Postcode/Zip"></div>
				<div class="shipping_adress_get_quote"><a href="#"> get a quote</a></div>
			</div>  <!-- shipping_adress -->

			<div class="coupon_discaunt"><h4>coupon discount</h4>
				<div class="coupon_discaunt_text">Enter your coupon code if you have one</div>
				<div class="coupon_discaunt_2"><input type="text" class="coupon_discaunt_3" placeholder="State"></div>
				<div class="coupon_discaunt_apply"><a href="#">apply coupon</a></div>
			</div> <!-- coupon_discaunt -->

			<div class="total">
				<div class="total_text1">sub total &ensp; $900</div>
				<div class="total_text2">grand total &ensp; <span>$900</span></div>
				<div class="total_line"></div>
				<div class="total_checkout"><a href="#">proceed to checkout</a></div>
			</div> <!-- total -->

			<div class="main_bott_shopping_cart"></div>

		</div> <!-- main -->
		{% endblock %}

