<div class="main_new_arrivals">
	<h1>new arrivals</h1>
	<div class="main_new_arrivals_1">
		<input type="radio" class="main_new_arrivals_2" id="rd-1" value="1" name="main_new_arrivals_2">
		<label for="rd-1">home /</label>
				
		<input type="radio" class="main_new_arrivals_2" id="rd-2" value="2" name="main_new_arrivals_2">
		<label for="rd-2">men /</label>
					
		<input type="radio" class="main_new_arrivals_2" id="rd-3" value="3" name="main_new_arrivals_2">
		<label for="rd-3">new arrivals</label>
	</div>
</div>