<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>BRAND: {% block title %}  {% endblock %} </title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="conteiner">
		<div class="header">
			<div class="header_top">
				<a href="{% url 'main' %}" class="logo"></a>
				<h1>BRAN<span>D</span></h1>
				<div class="header_Browse">
					<a href="#">Browse <span>&nbsp;&#9660;</span></a>
				</div>
				<input type="text" class="header_Search" placeholder="Search for Item...">
				<div class="header_Search2">
					<a href="#">&#128269;</a>
				</div>
				<a href="{% url 'basket' %}" class="header_cart"></a>


				<div class="header_My-Account">
					{% if user.is_active %}
						<a href="{% url 'logout' %}" > LogOut</a>
					{% else %}
						<a href="{% url 'login' %}#openModal/">My Account <span>&nbsp;&#9660;</span></a>
					{% endif %}

					<div class="modalDialog_My-Account" id="openModal/">
						<div>
							<a href="" title="Close" class="close_My-Account">X</a>
							<h4>Input user</h4>
							{% for message in messages %}
							<div class="message {{ message.tags }}">
								{{ message }}
							</div>
							{% endfor %}
							<form   action ="{% url 'login' %}" method="post">
								{% csrf_token %}
								{{ login_form.username }}
								{{ login_form.password }}
								<input class="LogIn" type="submit" value="Login">
								<div class="Registration"><a href="{% url 'register' %}#openModalRegister/">Registration</a></div>
							</form>
						</div>
					</div><!-- modalDialog_My-Account-->

					<div class="modalDialog_My-Account2" id="openModalRegister/">
						<div>
							<a href="" title="Close" class="close_My-Account">X</a>
							<h4>Register user</h4>
							<form action="{% url 'register' %}" method="post">
								{% csrf_token %}
								{{ register_form.username }}
								{{ register_form.password }}
								{{ register_form.password2 }}
								<input class="Register" type="submit" value="Creat User">
							</form>
						</div>
					</div> <!-- modalDialog_My-Account2-->
				</div> <!-- header_My-Account-->


			</div> <!-- header_top-->

			 <div class="header_midle">
			 	{% block menu %}
			 	{% endblock %}
				<!--<ul class="header_menu">
					<li><a href="/">home</a></li>
					<li><a href="/products/">man</a></li>
					<li><a href="/products/">woman</a></li>
					<li><a href="#">kids</a></li>
					<li><a href="#">accoseriese</a></li>
					<li><a href="#">featured</a></li>
					<li><a href="#">hot deals</a></li>
				</ul>--> 				
			</div> <!-- header_midle--> 
		</div> <!-- header -->
		<div class="main" id="main">
			{% block main %}
			{% endblock %}
		</div><!-- main-->
					
		<div class="folder">
			<div class="folder_top">
				<div class="folder_top_block_1">
					<div class="folder_top_block_1_image"></div> <!-- Для изменения прозрачности фона картинки-->
					<div class="folder_top_block_1_1">
						<p class="folder_top_block_text_1">&#34;Vestibulin quis porttibor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium&#34;<br></p>
						<p class="folder_top_block_text_2">Bin Burhan <br><span>Dhaka, Bd</span></p>
					</div>
					<div class="folder_top_block_1_2">
						<p>subcribe <br><span>for our newletter and promotion</span></p>
					</div>
					<input type="text" class="folder_top_block_1_3" placeholder="Enter Your Email">
					<div class="folder_top_block_1_4"><a href="#">Subscribe</a></div>
				</div>
			</div><!-- folder_top-->
				
			<div class="folder_midle">
				<div class="folder_midle_block1">
					<div class="folder_midle_block1_logo">
						<a href="#" class="logo"></a>
						<h1>BRAN<span>D</span></h1>
						<p>Objectively tranition extensive data rathet than cross functional solutions. Monotonectally syndicate multidisciolinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships. <br><br> Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.</p>
					</div>
				</div>  <!-- folder_midle_block1-->
				<div class="folder_midle_block2">
					<h2>company</h2>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="#">shop</a></li>
						<li><a href="#">about</a></li>
						<li><a href="#">how it works</a></li>
						<li><a href="#">contact</a></li>
					</ul>
				</div>
				<div class="folder_midle_block2">
					<h2>Information</h2>
					<ul>
						<li><a href="#">Tearms & Condition</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">gow to buy</a></li>
						<li><a href="#">how to sell</a></li>
						<li><a href="#">promotion</a></li>
					</ul>
				</div>
				<div class="folder_midle_block2">
					<h2>shop category</h2>
					<ul>
						<li><a href="men.html">men</a></li>
						<li><a href="#">woman</a></li>
						<li><a href="#">child</a></li>
						<li><a href="#">apparel</a></li>
						<li><a href="#">brows аll</a></li>
					</ul>
				</div>
			</div><!-- folder_midle-->

			<div class="folder_bottom">
				<div class="folder_bottom_text"><p>&copy; brand all rights reseved</p></div>
				<div class="folder_buttom" style="background-image: url(/static/img/f.png);"><a href="https://www.facebook.com/" ></a></div>
				<div class="folder_buttom" style="background-image: url(/static/img/twiter.png);"><a href="https://twitter.com/"></a></div>
				<div class="folder_buttom" style="background-image: url(/static/img/in.png);"><a href="https://www.instagram.com/" ></a></div>
				<div class="folder_buttom" style="background-image: url(/static/img/vk.png);"><a href="https://ru.foursquare.com/" ></a></div>
				<div class="folder_buttom" style="background-image: url(/static/img/G.png);"><a href="https://plus.google.com/" ></a></div>
			</div><!-- folder_bottom-->
		</div><!-- folder-->
	</div><!-- conteiner-->
	
</body>
</html>	
