{% extends "mainapp/base.html" %}

{% block menu %}
	{% include "include/inc_menu.html" %}
{% endblock %}
{% block title %} {{title}} {% endblock %}
{% block main %}

		<div class="main">
			<div class="main_block1">
				<div class="main_block1_0">
					<div class="main_block1_1"></div>
					<div class="main_block1_2"></div>
					<div class="main_block1_3">
						<p>the brand <br><span>of luxerious <span>fashion</span></span></p> 
					</div>
				</div>
			</div> <!-- main_block1-->

			<div class="main_block2">
				<div class="main_block2_man">
					<div class="main_block2_man_1">
						<a href="{% url 'products' categories_id='for_men' %}" class="main_block2_man_2"></a> <!-- Картинка -->
						<p></p>
						<a href="{% url 'products' categories_id='for_men'  %}" class="main_block2_man_3"> {{ for_men }} <br><span>for man</span></a> <!-- Текстовый блок -->
					</div>
				</div> <!-- Блок "для мужщин" -->
				
				<div class="main_block2_woman">
					<div class="main_block2_woman_1">
						<a href="{% url 'products' categories_id='for_woman' %}" class="main_block2_woman_2"></a>
						<a href="{% url 'products' categories_id='for_woman' %}" class="main_block2_woman_3">{{ for_woman }} <br><span>woman</span></a>
					</div>
				</div> <!-- Блок "для женщин" -->

				<div class="main_block2_kids">
					<div class="main_block2_kids_1">
						<a href="{% url 'products' categories_id='for_kids' %}" class="main_block2_kids_2"></a>
						<a href="{% url 'products' categories_id='for_kids' %}" class="main_block2_kids_3">{{ for_kids}} <br><span>for kids</span></a>
					</div>
				</div> <!-- Блок дети -->

			 	<div class="main_block2_accesories">
					<div class="main_block2_accesories_1">
						<a href="{% url 'products' categories_id='accesories' %}" class="main_block2_accesories_2"></a>
						<a href="{% url 'products' categories_id='accesories' %}" class="main_block2_accesories_3">{{ accesories }} <br><span>accesories</span></a>
					</div>
				</div> <!-- Блок аксессуары -->
			</div> <!-- main_block2 -->

			<div class="main_block3">
				<h2>Fetured Items</h2>
				<p>Shop for items based on what we featured in this week</p>
			</div><!-- main_block3-->

			<div class="main_block4">
				{% for value in data %}
					<a href="/single/" class="main_block4_1">
						<div class="main_block4_2">
							<div class="main_block4_2_image" style="background-image: url(/media/{{value.image}})"></div>
							<div class="main_block4_2_dark"></div>
							<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
							<h4>{{ value.name }}</h4>
							<p>{{value.price}}</p>
						</div>
					</a>
				{% endfor %}

				<div class="main_block4_3_Browse">
					<a href="#">Brows all product<span>&nbsp;&nbsp;&#10144;</span></a>
				</div> <!-- main_block4_3_Browse-->
				
				<div class="main_block4_4">
					<div class="main_block4_4_1" style="background-image: url(/static/img/Forma_2.png)">
						<h4>free dilivery</h4>
						<p>Worldwide delivery on all. Authorit tively morph next-generation inno tion with extensive models</p>
					</div>

					<div class="main_block4_4_1" style="background-image: url(/static/img/Forma_3.png)">
						<h4>Sales $ discounts</h4>
						<p>Worldwide delivery on all. Authorit tively morph next-generation inno tion with extensive models</p>
					</div>	

					<div class="main_block4_4_1" style="background-image: url(/static/img/Forma_4.png)">
						<h4>Quality assurance</h4>
						<p>Worldwide delivery on all. Authorit tively morph next-generation inno tion with extensive models</p>
					</div> 
				</div><!-- main_block4_4-->
			</div><!-- main_block4-->
		</div><!-- main-->
{% endblock %}
					

