{% extends "mainapp/base.html" %}

{% block menu %}
	{% include "include/inc_menu.html" %}
{% endblock %}
{% block title %} {{title}} {% endblock %}
{% block main %}
		<div class="main">
			{% include "include/new_arrivals.html" %}

			<div class="main_menu">
				<input type="checkbox" class="category" id="hd-1">
				<label for="hd-1">category</label>
				<div class="list_category">
					<ul>
						<li><a href="#">accessories</a></li>
						<li><a href="#">bags</a></li>
						<li><a href="#">denim</a></li>
						<li><a href="#">hoodeies & sweatshirts</a></li>
						<li><a href="#">jackets & coats</a></li>
						<li><a href="#">pants</a></li>
						<li><a href="#">polos</a></li>
						<li><a href="#">shirts</a></li>
						<li><a href="#">shpes</a></li>
						<li><a href="#">shorts</a></li>
						<li><a href="#">sweaters & knits</a></li>
						<li><a href="#">T-Shirts</a></li>
						<li><a href="#">Tanks</a></li>
					</ul>
				</div> <!-- list_category-->

				<input type="checkbox" class="category" id="hd-2">
				<label for="hd-2">brand</label>
				<div class="list_category">
					<ul>
						<li><a href="#">Oscar de la Renta</a></li>
						<li><a href="#">Louis Vuitton</a></li>
						<li><a href="#">Prada</a></li>
						<li><a href="#">Chanel</a></li>
					</ul>
				</div> <!-- list_category-->

				<input type="checkbox" class="category" id="hd-3">
				<label for="hd-3">designer</label>
				<div class="list_category">
					<ul>
						<li><a href="#">Spisok_1</a></li>
						<li><a href="#">Spisok_2</a></li>
						<li><a href="#">Spisok_3</a></li>
						<li><a href="#">Spisok_4</a></li>
					</ul>
				</div> <!-- list_category-->
			</div> <!-- main_menu-->
			
			<div class="main_catalog">
				<div class="trending_now">
					<h2>trending now</h2><br><br>
					<input type="checkbox" class="trending_now_2" id="tr_n-1" value="0" name="trending_now_2">
					<label for="tr_n-1">Bohemian |&nbsp;</label>
						
					<input type="checkbox" class="trending_now_2" id="tr_n-2" value="0" name="trending_now_2">
					<label for="tr_n-2">Floral |&nbsp;</label>
						
					<input type="checkbox" class="trending_now_2" id="tr_n-3" value="0" name="trending_now_2">
					<label for="tr_n-3">Lace&nbsp;</label>
					<input type="checkbox" class="trending_now_2" id="tr_n-4" value="0" name="trending_now_2">
					<label for="tr_n-4">Floral |&nbsp;</label>
						
					<input type="checkbox" class="trending_now_2" id="tr_n-5" value="0" name="trending_now_2">
					<label for="tr_n-5">Lace |&nbsp;</label>
						
					<input type="checkbox" class="trending_now_2" id="tr_n-6" value="0" name="trending_now_2">
					<label for="tr_n-6">Bohemian&nbsp;</label>
				</div>
				<div class="si_ze">
					<h2>size</h2><br><br>
					<input type="checkbox" class="si_ze_1" id="s-1" value="0" name="si_ze">
					<label for="s-1">xxs&nbsp;</label>
						
					<input type="checkbox" class="si_ze_1" id="s-2" value="0" name="si_ze">
					<label for="s-2">xs&nbsp;</label>
						
					<input type="checkbox" class="si_ze_1" id="s-3" value="0" name="si_ze">
					<label for="s-3">s&nbsp;</label>
					<input type="checkbox" class="si_ze_1" id="s-4" value="0" name="si_ze">
					<label for="s-4">m &nbsp;</label> 
					<br>	
					<input type="checkbox" class="si_ze_1" id="s-5" value="0" name="si_ze">
					<label for="s-5">L&nbsp;</label>
						
					<input type="checkbox" class="si_ze_1" id="s-6" value="0" name="si_ze">
					<label for="s-6">xl&nbsp;</label>
					
					<input type="checkbox" class="si_ze_1" id="s-7" value="0" name="si_ze">
					<label for="s-7">xxl&nbsp;</label>
				</div>

				<div class="price">
					<h2>price</h2><br><br>
					<input type="range" class="price_1" min="0 $" max="1000 $" id="pr_1" value="0" name="price">
					<label for="pr_1"></label>
				</div>
						

				<div class="sort">
					<div class="sort_1"><p>sort by</p></div>
					<div class="sort_2">
						<select> type="select" list="">
							<option value="size">Name</option>
							<option value="size">Size</option>
							<option value="price">Price</option>
						</select>
					</div>
					
					<div class="show_1"><p>show</p></div>
					<div class="show_2">
						<select> type="select" list="">
							<option value="0">03</option>
							<option value="6">06</option>
							<option value="9">09</option>
							<option value="12">12</option>
							<option value="15">15</option>
						</select>
					</div>
				</div>

				<div class="main_block4">
					<a href="/single/" class="main_block4_1">
						<div class="main_block4_2">
							<div class="main_block4_2_image" style="background-image: url(/static/img/c1.png)"></div>
							<div class="main_block4_2_dark"></div>
							<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
							<h4>Mango people t-shirt</h4>
							<p>$52.00</p>
						</div>
					</a>
					<a href="/single/" class="main_block4_1">
						<div class="main_block4_2">
							<div class="main_block4_2_image" style="background-image: url(/static/img/c2.png)"></div>
							<div class="main_block4_2_dark"></div>
							<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
							<h4>Mango people t-shirt</h4>
							<p>$52.00</p>
						</div>
					</a>
					<a href="/single/" class="main_block4_1">
						<div class="main_block4_2">
							<div class="main_block4_2_image" style="background-image: url(/static/img/c3.png)"></div>
							<div class="main_block4_2_dark"></div>
							<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
							<h4>Mango people t-shirt</h4>
							<p>$52.00</p>
						</div>
					</a>
					<a href="/single/" class="main_block4_1">
						<div class="main_block4_2">
							<div class="main_block4_2_image" style="background-image: url(/static/img/c4.png)"></div>
							<div class="main_block4_2_dark"></div>
							<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
							<h4>Mango people t-shirt</h4>
							<p>$52.00</p>
						</div>
					</a>
					<a href="/single/" class="main_block4_1">
						<div class="main_block4_2">
							<div class="main_block4_2_image" style="background-image: url(/static/img/c5.png)"></div>
							<div class="main_block4_2_dark"></div>
							<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
							<h4>Mango people t-shirt</h4>
							<p>$52.00</p>
						</div>
					</a>
					<a href="/single/" class="main_block4_1">
						<div class="main_block4_2">
							<div class="main_block4_2_image" style="background-image: url(/static/img/c6.png)"></div>
							<div class="main_block4_2_dark"></div>
							<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
							<h4>Mango people t-shirt</h4>
							<p>$52.00</p>
						</div>
					</a>
					<a href="/single/" class="main_block4_1">
						<div class="main_block4_2">
							<div class="main_block4_2_image" style="background-image: url(/static/img/c7.png)"></div>
							<div class="main_block4_2_dark"></div>
							<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
							<h4>Mango people t-shirt</h4>
							<p>$52.00</p>
						</div>
					</a>
					<a href="/single/" class="main_block4_1">
						<div class="main_block4_2">
							<div class="main_block4_2_image" style="background-image: url(/static/img/c8.png)"></div>
							<div class="main_block4_2_dark"></div>
							<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
							<h4>Mango people t-shirt</h4>
							<p>$52.00</p>
						</div>
					</a>
					<a href="/single/" class="main_block4_1">
						<div class="main_block4_2">
							<div class="main_block4_2_image" style="background-image: url(/static/img/c9.png)"></div>
							<div class="main_block4_2_dark"></div>
							<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
							<h4>Mango people t-shirt</h4>
							<p>$52.00</p>
						</div>
					</a>
				</div> <!-- main_block4-->

				<div class="page_bottom">
					<a href="#" ><</a>
					<span>1</span>
					<a href="#" >2</a>
					<a href="#" >3</a>
					<a href="#" >4</a>
					<a href="#" >5</a>
					<a href="#" >6</a>
					<a href="#" >...</a>
					<a href="#" >20</a>
					<a href="#" >></a>
				</div>
				<div class="View-All"><a href="#">View All</a></div>
			</div><!-- main_catalog -->
			
			<div class="main_bott"></div>
			
			<div class="main_bottom">
				<div class="main_block4_4_1">
					<img src="/static/img/Forma_2.png" alt="dilivery">
					<h4>free dilivery</h4>
					<p>Worldwide delivery on all. Authorit tively morph next-generation inno tion with extensive models</p>
				</div>
				<div class="main_block4_4_1">
					<img src="/static/img/Forma_4.png" alt="dilivery">
					<h4>Sales $ discounts</h4>
					<p>Worldwide delivery on all. Authorit tively morph next-generation inno tion with extensive models</p>
				</div>
				<div class="main_block4_4_1">
					<img src="/static/img/Forma_3.png" alt="dilivery">
					<h4>Quality assurance</h4>
					<p>Worldwide delivery on all. Authorit tively morph next-generation inno tion with extensive models</p>
				</div>
			</div><!-- main_bottom -->
		</div> <!-- main -->
{% endblock %}

