<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>BRAND</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="conteiner">
		<div class="header">
			<div class="header_top">
				<a href="index.html" class="logo"></a>
				<h1>BRAN<span>D</span></h1>
				<div class="header_Browse">
					<a href="#">Browse <span>&nbsp;&#9660;</span></a>
				</div>
				<input type="text" class="header_Search" placeholder="Search for Item...">
				<div class="header_Search2">
					<a href="#">&#128269;</a>					
				</div>
				<a href="/contacts/" class="header_cart"></a>

				<div class="header_My-Account">
					<a href="#">My Account <span>&nbsp;&#9660;</span></a>
				</div>
			</div> <!-- header_top-->
			<div class="header_midle">
				<ul class="header_menu">
					<li><a href="/">home</a></li>
					<li><a href="/products/">man</a></li>
					<li><a href="/products/">woman</a></li>
					<li><a href="#">kids</a></li>
					<li><a href="#">accoseriese</a></li>
					<li><a href="#">featured</a></li>
					<li><a href="#">hot deals</a></li>
				</ul>				
			</div> <!-- header_midle-->
		</div> <!-- header -->

		<div class="main">
			<div class="main_new_arrivals">
				<h1>new arrivals</h1>
				<div class="main_new_arrivals_1">
					<input type="radio" class="main_new_arrivals_2" id="rd-1" value="1" name="main_new_arrivals_2">
					<label for="rd-1">home /</label>
					
					<input type="radio" class="main_new_arrivals_2" id="rd-2" value="2" name="main_new_arrivals_2">
					<label for="rd-2">men /</label>
					
					<input type="radio" class="main_new_arrivals_2" id="rd-3" value="3" name="main_new_arrivals_2">
					<label for="rd-3">new arrivals</label>
				</div> 
				
			</div><!--main_new_arrivals-->
			
			<div class="single_contaner">
				<div class="single_contaner_1"><a href="#"><</a></div>
				<div class="single_foto_image" style="background-image: url(/static/img/single_1.png)"></div>
				<div class="single_contaner_2"><a href="#">></a></div>
			</div> <!--single_contaner-->

			<div class="single_contaner_continue">
				<div class="collections"><h4>woman collection</h4></div>
				<div class="collections_2">
					<input type="radio" class="radio_collections_2" id="rd_c-1" value="1" name="radio_collections_2">
					<label for="rd_c-1"><div class="collections_3"></div></label>
					<input type="radio" class="radio_collections_2" id="rd_c-2" value="2" name="radio_collections_2" checked="">
					<label for="rd_c-2"><div class="collections_3"></div></label>
					<input type="radio" class="radio_collections_2" id="rd_c-3" value="3" name="radio_collections_2">
					<label for="rd_c-3"><div class="collections_3"></div></label>
				</div><!--collections_2-->
				<div class="collection_4"><h4>moschino cheap and chic</h4></div>
				<div class="collection_5"><p>Compellingly actualize fully researched processes before proactive outsourcing. Progressively syndicate collaborative architectures before cutting-edge services. Completely visualize parallel core competencies rather than exceptional portals.</p></div>
				<div class="material"><p>MATERIAL: <span>COTTON</span></p></div>
				<div class="designer"><p>designar: <span>binburhan</span></p></div>
				<div class ="price"><p>$561</p></div>
				<div class="line_cursor"></div>
				<div class="choose_color">choose_color</div>
				<div class="choose_size">choose_size</div>
				<div class="quantity">quantity</div>
				<div class="choose_color_1">
					<select name="choose_color_1" size="1">
						<option value="color_1">Red</option>
						<option value="color_2">Blue</option>
						<option value="color_3">Green</option>
						<option value="color_4">Black</option>
					</select>
				</div>
				<div class="choose_size_1">
					<select name="choose_color_1" size="1">
						<option value="color_1">XXL</option>
						<option value="color_2">XL</option>
						<option value="color_3">L</option>
						<option value="color_4">M</option>
					</select>
				</div>
				<div class="quantity_1">
					<input type="text" class="quantity_2" placeholder="2">
				</div>
				<div class="add_to_Cart"><a href="#" class="add_to_Cart_1">Add to Cart</a></div>
			</div> <!--single_contaner_continue-->
			<div class="like_also"><h4>you may like also</h4></div>

			<div class="main_block_single_1">
				<a href="#" class="main_block4_1">
					<div class="main_block4_2">
						<div class="main_block4_2_image" style="background-image: url(/static/img/c10.png); background-position: 82px 5px; background-repeat: no-repeat; background-color:  #e9e9e9;"></div>
						<div class="main_block4_2_dark"></div>
						<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
						<h4>BLAZE LEGGINGS</h4>
						<p>$52.00</p>
					</div>
				</a>
				<a href="#" class="main_block4_1">
					<div class="main_block4_2">
						<div class="main_block4_2_image" style="background-image: url(/static/img/c11.png); background-position: 78px -12px; background-repeat: no-repeat; background-color:  #e9e9e9;"></div>
						<div class="main_block4_2_dark"></div>
						<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
						<h4>ALEXA SWEATER</h4>
						<p>$52.00</p>
					</div>
				</a>
				<a href="#" class="main_block4_1">
					<div class="main_block4_2">
						<div class="main_block4_2_image" style="background-image: url(/static/img/c12.png); background-position: 92px 7px; background-repeat: no-repeat; background-color:  #e9e9e9;"></div>
						<div class="main_block4_2_dark"></div>
						<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
						<h4>AGNES TOP</h4>
						<p>$52.00</p>
					</div>
				</a>
				<a href="#" class="main_block4_1">
					<div class="main_block4_2">
						<div class="main_block4_2_image" style="background-image: url(/static/img/c13.png)"></div>
						<div class="main_block4_2_dark"></div>
						<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
						<h4>SYLVA SWEATER</h4>
						<p>$52.00</p>
					</div>
				</a>
			</div> <!--main_block_single_1-->
			<div class="main_bot_single"></div>
		</div> <!--main-->

		<div class="folder">
			<div class="folder_top">
				<div class="folder_top_block_1">
					<div class="folder_top_block_1_image"></div> <!-- Для изменения прозрачности фона картинки-->
					<div class="folder_top_block_1_1">
						<p class="folder_top_block_text_1">&#34;Vestibulin quis porttibor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium&#34;<br></p>
						<p class="folder_top_block_text_2">Bin Burhan <br><span>Dhaka, Bd</span></p>
					</div>
					<div class="folder_top_block_1_2">
						<p>subcribe <br><span>for our newletter and promotion</span></p>
					</div>
					<input type="text" class="folder_top_block_1_3" placeholder="Enter Your Email">
					<div class="folder_top_block_1_4"><a href="#">Subscribe</a></div>
				</div>
			</div><!-- folder_top-->
				
			<div class="folder_midle">
				<div class="folder_midle_block1">
					<div class="folder_midle_block1_logo">
						<a href="index.html" class="logo"></a>
						<h1>BRAN<span>D</span></h1>
						<p>Objectively tranition extensive data rathet than cross functional solutions. Monotonectally syndicate multidisciolinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships. <br><br> Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.</p>
					</div>
				</div>  <!-- folder_midle_block1-->
				<div class="folder_midle_block2">
					<h2>company</h2>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="#">shop</a></li>
						<li><a href="#">about</a></li>
						<li><a href="#">how it works</a></li>
						<li><a href="#">contact</a></li>
					</ul>
				</div>
				<div class="folder_midle_block2">
					<h2>Information</h2>
					<ul>
						<li><a href="#">Tearms & Condition</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">gow to buy</a></li>
						<li><a href="#">how to sell</a></li>
						<li><a href="#">promotion</a></li>
					</ul>
				</div>
				<div class="folder_midle_block2">
					<h2>shop category</h2>
					<ul>
						<li><a href="#">men</a></li>
						<li><a href="#">woman</a></li>
						<li><a href="#">child</a></li>
						<li><a href="#">apparel</a></li>
						<li><a href="#">brows аll</a></li>
					</ul>
				</div>
			</div><!-- folder_midle-->

			<div class="folder_bottom">
				<div class="folder_bottom_text"><p>&copy; brand all rights reseved</p></div>
				<div class="folder_buttom" style="background-image: url(/static/img/f.png);"><a href="https://www.facebook.com/" ></a></div>
				<div class="folder_buttom" style="background-image: url(/static/img/twiter.png);"><a href="https://twitter.com/"></a></div>
				<div class="folder_buttom" style="background-image: url(/static/img/in.png);"><a href="https://www.instagram.com/" ></a></div>
				<div class="folder_buttom" style="background-image: url(/static/img/vk.png);"><a href="https://ru.foursquare.com/" ></a></div>
				<div class="folder_buttom" style="background-image: url(/static/img/G.png);"><a href="https://plus.google.com/" ></a></div>
			</div><!-- folder_bottom-->
		</div><!-- folder-->

</body>
</html>	