{% extends "mainapp/base.html" %}
		{% block menu %}
		{% include "include/inc_menu.html" %}
{% endblock %}

{% block My_Account %}
    {% include "include/My_Account.html" %}
{% endblock %}

{% block title %} {{title}} {% endblock %}
{% block main %}


		<div class="main">
			{% include "include/new_arrivals.html" %}
				
			</div><!--main_new_arrivals-->
			
			<div class="single_contaner">
				<div class="single_contaner_1"><a href="#"><</a></div>
				<div class="single_foto_image" style="background-image: url(/static/img/single_1.png)"></div>
				<div class="single_contaner_2"><a href="#">></a></div>
			</div> <!--single_contaner-->

			<div class="single_contaner_continue">
				<div class="collections"><h4>woman collection</h4></div>
				<div class="collections_2">
					<input type="radio" class="radio_collections_2" id="rd_c-1" value="1" name="radio_collections_2">
					<label for="rd_c-1"><div class="collections_3"></div></label>
					<input type="radio" class="radio_collections_2" id="rd_c-2" value="2" name="radio_collections_2" checked="">
					<label for="rd_c-2"><div class="collections_3"></div></label>
					<input type="radio" class="radio_collections_2" id="rd_c-3" value="3" name="radio_collections_2">
					<label for="rd_c-3"><div class="collections_3"></div></label>
				</div><!--collections_2-->
				<div class="collection_4"><h4>moschino cheap and chic</h4></div>
				<div class="collection_5"><p>Compellingly actualize fully researched processes before proactive outsourcing. Progressively syndicate collaborative architectures before cutting-edge services. Completely visualize parallel core competencies rather than exceptional portals.</p></div>
				<div class="material"><p>MATERIAL: <span>COTTON</span></p></div>
				<div class="designer"><p>designar: <span>binburhan</span></p></div>
				<div class ="price"><p>$561</p></div>
				<div class="line_cursor"></div>
				<div class="choose_color">choose_color</div>
				<div class="choose_size">choose_size</div>
				<div class="quantity">quantity</div>
				<div class="choose_color_1">
					<select name="choose_color_1" size="1">
						<option value="color_1">Red</option>
						<option value="color_2">Blue</option>
						<option value="color_3">Green</option>
						<option value="color_4">Black</option>
					</select>
				</div>
				<div class="choose_size_1">
					<select name="choose_color_1" size="1">
						<option value="color_1">XXL</option>
						<option value="color_2">XL</option>
						<option value="color_3">L</option>
						<option value="color_4">M</option>
					</select>
				</div>
				<div class="quantity_1">
					<input type="text" class="quantity_2" placeholder="2">
				</div>
				<div class="add_to_Cart"><a href="#" class="add_to_Cart_1">Add to Cart</a></div>
			</div> <!--single_contaner_continue-->
			<div class="like_also"><h4>you may like also</h4></div>

			<div class="main_block_single_1">
				<a href="#" class="main_block4_1">
					<div class="main_block4_2">
						<div class="main_block4_2_image" style="background-image: url(/static/img/c10.png); background-position: 82px 5px; background-repeat: no-repeat; background-color:  #e9e9e9;"></div>
						<div class="main_block4_2_dark"></div>
						<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
						<h4>BLAZE LEGGINGS</h4>
						<p>$52.00</p>
					</div>
				</a>
				<a href="#" class="main_block4_1">
					<div class="main_block4_2">
						<div class="main_block4_2_image" style="background-image: url(/static/img/c11.png); background-position: 78px -12px; background-repeat: no-repeat; background-color:  #e9e9e9;"></div>
						<div class="main_block4_2_dark"></div>
						<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
						<h4>ALEXA SWEATER</h4>
						<p>$52.00</p>
					</div>
				</a>
				<a href="#" class="main_block4_1">
					<div class="main_block4_2">
						<div class="main_block4_2_image" style="background-image: url(/static/img/c12.png); background-position: 92px 7px; background-repeat: no-repeat; background-color:  #e9e9e9;"></div>
						<div class="main_block4_2_dark"></div>
						<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
						<h4>AGNES TOP</h4>
						<p>$52.00</p>
					</div>
				</a>
				<a href="#" class="main_block4_1">
					<div class="main_block4_2">
						<div class="main_block4_2_image" style="background-image: url(/static/img/c13.png)"></div>
						<div class="main_block4_2_dark"></div>
						<div class="main_block4_2_dark_text"><object type="lol/wut"><a href="#">Add to Cart</a></object></div>
						<h4>SYLVA SWEATER</h4>
						<p>$52.00</p>
					</div>
				</a>
			</div> <!--main_block_single_1-->
			<div class="main_bot_single"></div>
		</div> <!--main-->
		{% endblock %}
