{% extends "mainapp/base.html" %}

{% block menu %}
	{% include "include/inc_menu.html" %}
{% endblock %}
{% block title %} {{title}} {% endblock %}
{% block main %}
		<div class="main">
			<div class="main_block4_4">
                <form class ="list_category" action ="" method="post">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <br>
                    <input class="form-control" type="submit" value="войти">
                </form>




				</div><!-- main_block4_4-->
		</div><!-- main-->
{% endblock %}
					

