{% extends "mainapp/base.html" %}

<!--{% block My_Account %}-->
    <!--{% include "include/My_Account.html" %}-->
<!--{% endblock %}-->
{% block menu %}
	{% include "include/inc_menu.html" %}
{% endblock %}
{% block title %} {{title}} {% endblock %}
{% block main %}

			<div>
                <!--<form class ="header_My-Account_login"  action ="{% url 'login' %}?next={{ request.path|urlencode }}" method="post">-->
                    <!--{% csrf_token %}-->
                    <!--{{ login_form.username }}-->
                    <!--{{ login_form.password }}-->
                    <!--<br>-->
                    <!--<input class="LogIn" type="submit" value="Login">-->
                <!--</form>-->

            </div>

            </div><!-- main_block4_4-->

{% endblock %}


					

